<div id="comments" class="posts">
  <% if @comments.any? %>  
    <%= render @comments %>
    <%= paginate @comments, remote: true, theme: 'bootstrap-5', :param_name => 'comments_page' %>
  <% else %>
    <div class="post">
    </div>  
  <% end %>
</div>
