<a class="" data-bs-toggle="collapse" href="#collapse-<%= comment.id %>" aria-expanded="false" aria-controls="collapse-<%= comment.id %>">
  <% unless @reply_count[comment.id].nil? %>
    <p><%= @reply_count[comment.id] %>件のリプライ</p>
  <% end %>
</a>