<a class="" data-bs-toggle="collapse" href="#collapse-<%= tweet.id %>" aria-expanded="false" aria-controls="collapse-<%= tweet.id %>">
  <% unless @reply_count[tweet.id].nil? %>
    <%= @reply_count[tweet.id] %>件のリプライ
  <% end %>
</a>