<% provide(:title, 'All users') %>
<div class="content-header">
  <h3>ユーザー一覧</h3>
</div>    
<div id="feed_user">
  <%= render 'shared/feed_user', users: @users %>
</div>
<div id="users_page">
  <%= render 'shared/users_page', users: @users %>
</div>
