<div id="tweets" class="posts">
  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
      <%= render partial: 'tweets/own_tweet', locals: {tweet: tweet} %>
    <% end %>
    <%= paginate @tweets, remote: true, theme: 'bootstrap-5', :param_name => 'own_tweets_page' %>  
  <% else %>
    <div class="post">
    </div>
  <% end %>
</div>
