<% if @feed_gadgets.any? %>
  <div class="gadgets">
    <%= render @feed_gadgets %>
  </div>
  <%= paginate @feed_gadgets, params: {page_type: "gadget"}, remote: true, theme: 'bootstrap-5', :param_name => 'gadgets_page' %>
<% end %>