<div class="form">
  <%= form_with(model: @tweet, local: false) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3 field message_box">
      <%= f.text_area :content, style: "width:100%", placeholder: '新しいツイート', class: 'form-control', id: "tweet_form_text"%>
    </div>
    <div class="text-center m-4">
      <p>
        <%= f.submit '投稿する', class: 'btn btn-create' %>
      </p>
    </div>
  <% end %>  
</div>
