<% provide(:title, @title) %>
<% provide(:button_text, '変更を保存する') %>
<div class="content-header">
  <h3><%= @title %></h3>
</div>    
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render 'form' %>
  </div>
</div>