<% provide(:title, @title) %>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="content-header">
      <h3><%= @title %></h3>
    </div>    
    <% if @users.any? %>
      <div id="feed_user">
        <%= render 'shared/feed_user', users: @users %>
      </div>
      <div id="users_page">
        <%= render 'shared/users_page', users: @users %>
      </div>
    <% end %>
  </div>
</div>

