<% unless gadget.user_id == current_user.id %>
  <% if gadget.requested_by?(current_user) %>            
    <%=link_to gadget_review_requests_path(gadget.id), method: :delete, remote: true do %>
      <p class="mt-4">レビューリクエストをやめる</p>              
    <% end %>
  <% else %>            
    <%=link_to gadget_review_requests_path(gadget.id), method: :post, remote: true do %>
      <p class="mt-4">レビューをリクエストする</p>
    <% end %>
  <% end %>
<% end %>