<% if logged_in? %>
  <% unless gadget.user_id == current_user.id %>
    <% if gadget.requested_by?(current_user) %>            
      <%=link_to gadget_review_requests_path(gadget.id), method: :delete, remote: true do %>
        <p>レビュー<br>リクエストを<br>やめる</p>              
      <% end %>
    <% else %>            
      <%=link_to gadget_review_requests_path(gadget.id), method: :post, remote: true do %>
        <p>レビューを<br>リクエストする</p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%=link_to gadget_review_requests_path(gadget.id), method: :post, remote: true do %>
    <p>レビューを<br>リクエストする</p>
  <% end %>
<% end %>