<% provide(:title, @title) %>
<div class="content-header">
  <h3><%= @title %></h3>
</div>
<div id="feed_user">
  <% if @users.empty? %>
    <div class="text-center">
      <p>レビューをリクエストしているユーザーはまだいません。</p>
    </div>
  <% else %>
    <%= render 'shared/feed_user', users: @users %>
  <% end %>
</div>
<div id="users_page">
  <%= render 'shared/users_page', users: @users %>
</div>
